body {
  background-color: #d4ebff;
  width: 100%;
  height: 100vh;
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 25%;
  margin-top: 2%;

  background-color: white;
  opacity: 60%;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.InputNumberDiv {
  margin-bottom: 10px;
  width: 50%;
  display: flex;
}

.InputTextDiv {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
}

.formLabelSbrn {
  width: 61%;
  color: #0088ff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 5px;
}

.InputEmailDiv {
  margin-bottom: 10px;
  width: 100%;
  display: grid;
}

.container2 {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.containerForm {
  width: 80%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.containerTitle {
  background-color: white;
  opacity: 60%;

  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  width: 50%;
  margin-left: 25%;
  margin-top: 5%;

  height: auto;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.containerTitle h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #0088ff;
}

.formLabel {
  color: #0088ff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 5px;
}

.formInput {
  height: 30px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #0088ff;
  border-left: 2px solid #0088ff;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 14px;
  margin: 0px;
  font-weight: bold;
  color: red;
  padding-left: 6px;
}

.containerAgd {
  transition: 0.2s;
  width: auto;
  height: auto;
  background: white;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  margin-top: 2%;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.containerAgd h2 {
  color: #0088ff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
